<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>480965234325-m2ioo4ssbatgv4suafi24kphkfs142q0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480965234325-m2ioo4ssbatgv4suafi24kphkfs142q0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>480965234325-473uhbro88c7jqv17l60c5n3p01s3bpj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC-rxOpa5R4Q837Bht0uKzZYTvZkAWLBcs</string>
	<key>GCM_SENDER_ID</key>
	<string>480965234325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.oxonApp</string>
	<key>PROJECT_ID</key>
	<string>oxon-app-a4ede</string>
	<key>STORAGE_BUCKET</key>
	<string>oxon-app-a4ede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:480965234325:ios:3fdf2c4271dacdf8c5159c</string>
</dict>
</plist>